<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Plantilla</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:fragment="header">
            <h1 th:text="#{plantilla.titulo}">Titulo</h1>
        </header>
        
        <footer th:fragment="footer">
            <div>
                <br/>
                <a th:href="@{/(lang=es)}">ES</a> |
                <a th:href="@{/(lang=en)}">EN</a> |
                <span> [[ #{plantilla.pie-pagina} ]] <a href="https://github.com/llStrevensll" target="_blank">llStrevensll</a></span>
            </div>
            
        </footer>
    </body>
</html>
