<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Inicio</h1>
        <p th:text="${mensaje}"></p>
        <p th:text="${saludo}"></p>
        <br/>
        Nombre: <span th:text="${persona.nombre}">Mostrar Nombre</span>
        <br/>
        Apellido: <span th:text="${persona.apellido}">Mostrar Apellido></span>
        <br/>
        Email <span th:text="${persona.email}">Mostrar Email></span>
        <br/>
        Telefono <span th:text="${persona.telefono}">Mostrar Telefono></span>
    </body>
</html>
